* {
  margin: 0;
  padding: 0;
}


body {
  margin: -16px;
}



.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  width: 15vw;
  margin-top: -64px;
  height: 17vh;
  margin-left: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.form-check-input {
  display: flex;
  flex-direction: row;

  margin-left: 205%;
  margin-top: -22%;
}

.list-switch {
  margin-left: 47%;
}



.friends {
  margin-top: 0;

  margin-left: 1%;
}

input {
  width: 15%;
}

.image-container {
  flex-direction: row;
  margin-top: -22%;
  margin-right: 10%;
  color: darkgreen;
}

h3 {
  text-align: center;
}



.goback {
  margin: 221px;

  margin-left: 22%;
  margin-top: 1px;
  margin-right: -25%;
}

button {
  background-color: rgb(123, 109, 232);
  margin-left: 19px;
}

select {
  width: 63%;
}

label {
  display: flex;
}

input {
  margin-left: -1%;
  width: 56%;
}

.col-md-6 {
  margin-top: 20%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  color: darkgreen;
  background-color: honeydew;
  width: 90%;
  height: 225%;
  font-size: large;
  margin-left: 2%;
  margin-right: 30%;
  padding: 20px;
  margin-top: 87px;
}

.remove-button {
  background-color: #609c63;
  color: #fff;
  border: none;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-size: 14px;
}

.remove-button:hover {
  background-color: #e53935;

}

.img {
  display: inline;
  flex-direction: column;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin-left: 40px;
  border-radius: 12px;
  border-style: solid;
  border-color: green;


}